*{
    margin: 0;
    padding: 0;
}
h1{
    color: aqua;
}
img{
    width: 200px;
}
.giraffe{
    color:blue;
}
.food{
    background-color:palevioletred;
}
#sample{
    background-color: skyblue;
   border: 2px solid blue; 
    font-size: 17px;
}
.time{
    background-color: mediumaquamarine;
    border-style: dotted;
    font-size: medium;
    margin:10px 15px;
    padding: 30px;
}


/* my flexbox properties */
/* .container{
    background-color: lightcoral;
} */

.childContainer{
    background-color: mediumorchid;
    display: flex;
    flex-direction: row;
    gap:10px
    justify-content space-between;
}
.blue-container{
    border:3px blue solid;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.flex-items{
    border:black solid 2px;
    margin: 10px;
    height: 8cm;
    width: 4cm;
    text-align: center;
    color: gold;
}
/* mine */
.mine{
    color:lightcoral;
    font-size: 50px;
    margin: 20px;
}
/* bottom container */
.last{
    border: coral solid 2px;
    display: flex;
}
img{
    width:100px;
    border-radius: 50%;
    padding: 10px 60px;
}



