*{
    margin: 0;
    padding: 0;
}
h1{
    color: aqua;
}
img{
    width: 200px;
}
.giraffe{
    color:blue;
}
.food{
    background-color:palevioletred;
}
#sample{
    background-color: skyblue;
   border: 2px solid blue; 
    font-size: 17px;
}
.time{
    background-color: mediumaquamarine;
    border-style: dotted;
    font-size: medium;
    margin:10px 15px;
    padding: 30px;
}


/* my flexbox properties */
.container{
    background-color: lightcoral;
}

.childContainer{
    background-color: mediumorchid;
    display: flex;
    flex-direction: row;
    gap:10px
    justify-content space-between;
}



